#home-container {
    background-color: #FFFAFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 75px;
    background-color: #A4240B;
    z-index: 1;
}

#title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#user-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: -8px;
}

.input-box {
    height: 30px;
    width: 40%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    outline: none;
}

#find-button {
    height: 35px;
    width: 10%;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #C4B0B9;
    margin-right: 10px;
}

#find-button:hover {
    cursor: pointer;
}

#display-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

.rest-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 60vw;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.rest-card:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: black;
}
.card-img {
    object-fit: contain;
    min-height: 100%;
    min-width: 100%;
}
#img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#pagebtngroup {
    padding-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#loading {
    margin-top: 40vh;
}

#nextbtn, #prevbtn {
    margin: 0 30px;
}

#nextbtn:hover {
    cursor: pointer;
}

#prevbtn:hover {
    cursor: pointer;
}

#search-text {
    margin-top: 40vh;
    color: lightgray;
}