@import url('https://fonts.googleapis.com/css?family=Cardo|Oswald&display=swap');
#lan-container {
    min-height: 100vh;
    background-image: url("../images/foodv2-2068217_1920.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#lan-content-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 400px;
    margin-top: 20vh;
    margin-left: 20vh;
    background-color: #A4240B;
    color: #C4B0B9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
#lan-btn {
  width: 175px;
  height: 50px;
  font-size: 20px;
  background-color: #070000;
  border: none;
  cursor: pointer;
  font-family: 'Cardo', serif;
  color: #C4B0B9;
  outline:none;
}
#lan-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#site-title {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  margin: -10px 0 -10px 0;
}
h2 {
  font-family: 'Cardo', serif;
}
hr {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  #lan-container {
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: url("../images/food-small.png")
  }

  #lan-content-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    height: 60vh;
    margin: 0;
    padding: 0 10px 0 10px;
    text-align: center;
  }

  hr {
    width: 80vw;
  }
}